/* spartan-300 - latin */
@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/Spartan/spartan-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/Spartan/spartan-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/Spartan/spartan-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/Spartan/spartan-v10-latin-300.svg#Spartan') format('svg'); /* Legacy iOS */
  }
  /* spartan-500 - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Spartan/spartan-v10-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/Spartan/spartan-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/Spartan/spartan-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/Spartan/spartan-v10-latin-500.svg#Spartan') format('svg'); /* Legacy iOS */
  }
  /* spartan-regular - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Spartan/spartan-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/Spartan/spartan-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/Spartan/spartan-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/Spartan/spartan-v10-latin-regular.svg#Spartan') format('svg'); /* Legacy iOS */
  }
  /* spartan-600 - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/Spartan/spartan-v10-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/Spartan/spartan-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/Spartan/spartan-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/Spartan/spartan-v10-latin-600.svg#Spartan') format('svg'); /* Legacy iOS */
  }
  /* spartan-800 - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/Spartan/spartan-v10-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/Spartan/spartan-v10-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/Spartan/spartan-v10-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./fonts/Spartan/spartan-v10-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/Spartan/spartan-v10-latin-800.svg#Spartan') format('svg'); /* Legacy iOS */
  }