* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Spartan", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--white);
}

:root {
    --dark: #121212;
    --white: #fff;
    --yellow: #F0CC84;
    --sale: ;
    
    --opac-l: 0.4;
    --opac-md: 0.6;
    --opac-sm: 0.8;

    --gr-white: #f8f8f8;

    --radii: 4%;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

p,span{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color:var(--dark);
    text-decoration: none;
}